body{
    font-family: 'Inter',  sans-serif;
}
/*Custom scrollbar for better aesthetics*/
.custom-scroll::-webkit-scrollbar{
    width: 8px;
}
.custom-scroll::-webkit-scrollbar-track{
    background: #4a5568;
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb{
    background: #2d3748;
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover{
    background: #1a202c;
}
div.center{
    justify-content: center;
    align-items: center;
}
div.title{
    margin-bottom: 15px;
}

hr.hidden{
    display: none;
    height: 100px;
}

/*fixing the adjustments of the country container*/
#country-select-container{
    margin-left: 135px;
    margin-top: 10px;
}
/*fixing the title*/
h1.title{
    font-size: 20px;
    font-weight: bold;
}
/*fixing the adjustment of the button*/
#show-country-button{
    margin-left: 290px;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    width: 90px;
}
/*fixing the button for the converstion button*/
#go-back-button{
    border-width: 1px;
    border-style: solid;
    width: 90px;
}